.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  padding-right: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  background: #262626;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin: 0px -18px;
}
@media (min-width: 1024px) {
  .freeBox {
    padding: 0% 10%;
  }
}
@media (min-width: 1280px) {
  .freeBox {
    padding: 0% 20%;
  }
}
.img___6KXgK {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img___6KXgK > picture > img {
  object-fit: cover;
}
.img___6KXgK > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__umBTp {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img__umBTp > picture > img {
  object-fit: cover;
}
.img__umBTp > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__d3BhL {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img__d3BhL > picture > img {
  object-fit: cover;
}
.img__d3BhL > .__wab_img-spacer > img {
  object-fit: cover;
}
