.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.link__gCtRw {
  position: relative;
  left: auto;
  top: auto;
  display: flex;
  flex-direction: row;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.logo {
  transform: translate(0px, 0.2699999999999996px);
  display: block;
  flex-direction: column;
  background: url("./images/logosvg.svg") center center / cover no-repeat padding-box
    border-box scroll;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.link__o6QJm {
  position: relative;
  display: flex;
  flex-direction: row;
}
.svg__f34Sz {
  color: #bebebe;
  object-fit: cover;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.link__tAoLp {
  position: relative;
  display: flex;
  flex-direction: row;
}
.svg__myvNy {
  color: #bebebe;
  position: relative;
  object-fit: cover;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.link__aeRgg {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  align-content: unset;
  flex-shrink: 0;
}
.svg__jV1R {
  color: #bebebe;
  object-fit: cover;
  width: 30px;
  height: 30px;
  align-self: center;
  flex-shrink: 0;
}
